.titulo {
    padding: 20%;
    color: orange;
    opacity: 1;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.9;
    mix-blend-mode: overlay;
}

body {
    background-color: grey;
}

.texto {
    color: rgb(118, 148, 213);
    font-family: 'Times New Roman', Times, serif;
}

.Aplicaciones {
    border: white, solid, 3px;
    background: linear-gradient(to right, blue, LightBlue, white);
    border-radius: 10px;
    padding-left: 43%;
}